@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(circle at top, #0f172a, #020617);
}



html {
  scroll-behavior: smooth;
  background-color: #ffffff;
}
